*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
.nav-bar{
    background-color: #1f203a;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
    
   
}
.nav-inn{
    /* border: 1px solid white; */
    width:85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.headpart{
    background-color: #f2f2f2;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.putin{

    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -30px;

}
.putin img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 5px solid rgba(128, 128, 128, 0.329);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.575);
}
.bio{

    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 80px;
}
.section2{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    
}
.left{
    /* border: 2px solid red; */
    width: 300px;
    height: 400px;
}
.left-img{
    width: 100%;
    height: 100%;
}
.left-img img{
    width: 100%;
    height: 73.5%;
}
.right{
    /* border: 2px solid red; */
    width: 300px;
    height: 400px;

}

.right button{
    width: 120px;
    height:30px ;
    font-size: .6em;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid gray;
    letter-spacing: 3px;
}
.manLap{
    width: 100%;
    height: 73.5%;
}
.manLap img{
    width: 100%;
    height: 100%;
}
.dec-banner{
    position: absolute;
    height: 237px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    bottom: -45px;
    z-index: -1;
}
.first{
    text-align: right;
}
.section3{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: flex-end;
    gap: 27px;
}
.section3 .second{
    width: 270px;
    padding-bottom: 17px;
}
.second button{
    width: 120px;
    height:30px ;
    font-size: .5em;
    color: white;
    margin-top: 15px;
    background-color: orange;
    border: 0;
    letter-spacing: 3px;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.line{
    border: 1px solid black;
    width: 370px;
    margin-top: 82px;

}
.section5a{
    width: 100%;
    height: 368px;
    display: flex;
    
}
.pic1{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;

}
.pic1 img{
    height: 100%;
    width: 100%;
}
.pic2{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;

}
.pic2 img{
    height: 100%;
    width: 100%;
}
.pic3{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;

}
.pic3 img{
    height: 100%;
    width: 100%;
}
.section5b{
    width: 100%;
    height: 368px;
    display: flex;

}
.pic4{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic4 img{
    height: 100%;
    width: 100%;
}
.pic5{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic5 img{
    height: 100%;
    width: 100%;
}
.pic6{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic6 img{
    height: 100%;
    width: 100%;
}
.section5c{
    width: 100%;
    height: 368px;
    display: flex;

}
.pic7{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic7 img{
    height: 100%;
    width: 100%;
}
.pic8{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic8 img{
    height: 100%;
    width: 100%;
}

.pic9{
    flex-grow: 1;
    height: 368px;
    width: 33.33%;
    
}
.pic9 img{
    height: 100%;
    width: 100%;
}
.section6a{
    border: 1px solid transparent;
    height: 250px;
    width: 100%;
    
}
.section6a button{
    width: 140px;
    height:40px ;
    font-size: .8em;
    font-weight: 40px;
    margin-top: 15px;
    background-color: orange;
    border: 0;
    letter-spacing: 3px;
    /* margin-left: 265px; */
    display: block;
    margin-top: 38px!important;
    margin: auto;
    color: #f2f2f2;
}
.section7{
    /* border: 1px solid black; */
    /* height: 590px; */
    width: 100%;
    display: flex;
}
.section7a{
    /* border: 1px solid black; */
    /* height: 590px; */
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* padding: 9ch; */
    
}
.section7a  button{
    width: 140px;
    height:40px ;
    font-size: .8em;
    font-weight: 40px;
    background-color: orange;
    border: 0;
    letter-spacing: 3px;
    /* margin-left: 265px; */
    display: block;
    margin-top: 38px!important;
    margin-left: 0px;
    color: #f2f2f2;

}
.section7b{
    /* border: 1px solid red; */
    width: 50%;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* padding-bottom: 100px; */
}
.section8{
    background: url(./image/w4-min.jpg)no-repeat;
    background-position: center;
    background-size: 100%;
    height: 380px;
    width: 100%;
    margin-top: 100px;
}
.section8-filter{
    height:380px;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: -50px;
    align-items: center;
    color: white;
    text-align: center;
}
.section8-icon-container{
    font-size: 40px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.section8-filter p{
    width: 600px;
}
.section9{
    border: 0;
    background-color: #1f203a;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section9-text{
    color: white;
    font-size: 13px;
    width: 30%;
    text-align: center;
}
footer{
    height: 100px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
    color: silver;
}